button{
    font-size: 6rem;
    background-color: pink;
}

.blank{
    
    background-color: white;
    border:none ;
    width: 200px
       
}

.rojo{
    background-color: red;
}

#Botonera{
    
    
    background-color: aquamarine;
    
    
}
#toprow{
    
    text-align: center;
    padding-left: 3px;
}
/* Si el boton todavia no se toco, el valor está, pero la imagen esta hidden*/
.hidden{
background-color: grey;
}

.visible{
    display:flex
}
.aprove{
background-color: green;
}

.decline{

}
.pickeable{
    cursor: pointer;
}
.notVisible{
    
    display:none;
    
}
.disabled{
    border-color: red;
    display: block;
}