@media screen and (max-width:480px) {
    body{
        background-color: lightblue;
    }
    #header{
        display: flex;
        width: 100%;
    }
    
    #header div:nth-child(1){  /*" display:none hide MENU word"*/
    }
    #menuHeader > svg { 
        
        height: 100%;
    }
    .lineasMenu{
        max-width: fit-content;
        max-height: fit-content;
        margin-top: -10px;
    }
    #dropdown{
        cursor:pointer;
        height: 120px;
        align-items: center;
        border-radius: 2%;
    }
    nav{
        width: 3.26rem;
        margin-top: -5%;
    }

    #titleHeader{
        background-color: black;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    #grid{
        display: flex;
        flex-direction: column;
    }
    #grid>div:nth-child(1){
        order:2 ;
    }
    #grid>div:nth-child(2){
        order: 1;
    }
    #grid>div:nth-child(3){
        order: 3;
    }
    #FooterCopyRight{
        background-color: black;
        color: bisque;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 6%;
    }
    /*Animations*/
    #fila1{
      background-color: blue;
    }
    
}