* {
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
html{
     /* background-color: rgb(109, 179, 109);  */
     background-image: url("media/background.jpg");
     background-size: contain;
    height: 100%;
    width: 100%;

}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
  
#logo img{
    max-height: 7rem;
    max-width: auto;
    margin-right: 50%;
    padding-top: 10%;
}

.reload{
    padding-top: 12%;
    max-height: 4rem;
    max-width: 4rem;
}

.topRow{
    background-image: url("media/PoolBoard.jpg") ;
    background-size:cover;
    background-position: center;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    clear: both;

 
}
.innerRowGridTowel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    text-align: center;
    height: 6rem;
}
#logo{
    padding-left: 2rem;
    font-size: 1rem;
    color: #fff;
    
}
#menuHeader{
    padding-right: 2rem;
    background-color: black;
    text-align: center;
    color: #fff;
}
.dropdownActivo{
    background-color: #000;
    position:sticky;
    color: #fff;
    width: 100%;
    height: auto;
}
.dropdownInactivo{
    display: none;

}
#titleHeader{
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 4em;
    
}

.howToPlay{
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    background-color: #000;
}

.howToPlay p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.FooterCopyRight{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 53, 53);
    color: bisque;
    padding-top: 1%;
    padding-bottom: 0.3%;
    margin-top: auto;
}
button{
    font-size: 4rem;
    /* background-color: #ccc;  */
    background-image: url("media/brickspixelart.png") ;
    width: 100%;
    border: 1px double black;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px ;
}

#fila5>button{
    box-shadow: 0 0 3px;
}
.numerosTowel{
    
    text-align: center;
    font-size: 4rem;
    /* background-color: #ccc; */
    width: 100%;
    border: 1px double black;
    border-radius: 5px;
}
.userPool{
    background-image: url("media/$$$.png");
    background-size:1%;
    background-color: #ccc;
}

.valueAllx3Buttons:hover{
    color: #fff;
}

.randomGen:hover{
    color: #fff;
}

#menuHeader>div,div > svg{
    cursor:pointer;
    align-items: center;
    padding-top: 6px;
}

.menuButton{
    cursor:pointer;
    padding-top:4%;
    padding-right: 4%;
}
#dropdown{
    cursor:pointer;
    height: 100px;
    align-items: center;
    padding-top:10px;
    border-radius: 2%;
}
#dropdown>ul>li{
padding-top: 5px;
}
#timbTowel{
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    margin-bottom: 0rem;
    padding-bottom: auto;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
.sideTowel{
    
}
.divTowel{
    background-color: none;
}
tr,td{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
 }

#lastWinnersTable{
    padding: 1% 0%;
    background-color: gray;
    border:0;
}

ul li{
    list-style-type: none;
}
.blank{
    background-color: white;
    border:none ;
    width: auto;
    text-align: center;
    justify-content: center;
}

.rojo{
    color: rgb(255,0,0) !important;
}
.verde{
color: rgb(0,128,0) !important;
}

#Botonera{
    background-color: aquamarine;
}

.topRow{
    display: block;
    clear: both;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #ccc;
    margin: 0px;
    padding: 0px;
    border-spacing: 0;
    border: 1px double black;
    border-radius: 5px;
    box-shadow: 0 0 3px;
    
}
#personalPool{
    border-radius: 5px;
    width: 100%;
}
/* Si el boton todavia no se toco, el valor está, pero la imagen esta hidden*/
.hidden{
background-color: grey;
}

.visible{
    display:flex
}

.notVisible{
    
visibility: hidden;
}


.pickeable{
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
    
}


@keyframes zoomInZoomOut {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }