html{
    background-color: rgb(109, 179, 109);
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  
#logo img{
    max-width: auto;
    max-height: 3.75rem;
    margin-right: 50%;
    padding-top: 10%;
}

.reload{
    padding-top: 12%;

    max-height: 3.75rem;
    max-width: 3rem;
}


#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    clear: both;
}
.innerRowGridTowel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    text-align: center;

}
#logo{
    padding-left: 2rem;
    font-size: 1rem;
    color: #fff;
    
}
#menuHeader{
    padding-right: 2rem;
    background-color: black;
    text-align: center;
    color: #fff;
}
.dropdownActivo{
    background-color: #000;
    position:sticky;
    color: #fff;
    width: 100%;
    height: auto;
}
.dropdownInactivo{
    display: none;

}
#titleHeader{
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 2em;
    max-height: 10%;
    padding-top: 15px;
    
}

#footContent{
    background-color: gray;
    height: 20%;
}
#FooterCopyRight{
    background-color: black;
    color: bisque;
    text-align: center;
    margin-top: auto;
    padding-bottom: 2rem;
}
button{
    font-size: 4rem;
    background-color: #ccc;
    width: 100%;
    border: 1px double black;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px ;
}

#fila5>button{
    box-shadow: 0 0 3px;
}
.numerosTowel{
    text-align: center;
    font-size: 4rem;
    background-color: #ccc;
    width: 100%;
    border: 1px double black;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(153, 150, 150);
    
    
}
#menuHeader>div,div > svg{
    cursor:pointer;
    align-items: center;
    padding-top: 6px;
}

.menuButton{
    cursor:pointer;
    padding-top:4%;
    padding-right: 4%;
}
#dropdown{
    cursor:pointer;
    height: 100px;
    align-items: center;
    padding-top:10px;
    border-radius: 2%;
}
#dropdown>ul>li{
padding-top: 5px;
}
#timbTowel{
    margin-bottom: 0rem;
    padding-bottom: auto;
    justify-content: center;
    align-content: center;
}
.sideTowel{
    
}
.divTowel{
    background-color: none;
}
tr,td{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
 }

#lastWinnersTable{
    padding: 1% 0%;
    background-color: gray;
    border:0;
}

ul li{
    list-style-type: none;
}
.blank{
    background-color: white;
    border:none ;
    width: auto;
    text-align: center;
    justify-content: center;
}

.rojo{
    color: rgb(255,0,0) !important;
}
.verde{
color: rgb(0,128,0) !important;
}

#Botonera{
    background-color: aquamarine;
}

.topRow{
    display: block;
    clear: both;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #ccc;
    margin: 0px;
    padding: 0px;
    border-spacing: 0;
    border: 1px double black;
    border-radius: 5px;
    box-shadow: 0 0 3px;
    
}
#personalPool{
    border-radius: 5px;
    width: 100%;
}
/* Si el boton todavia no se toco, el valor está, pero la imagen esta hidden*/
.hidden{
background-color: grey;
}

.visible{
    display:flex
}

.notVisible{
    
visibility: hidden;
}


.pickeable{
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
    
}

