html{
    background-color: white;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.innerRowGridTowel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

#header{
    height: 10%;
    width: 100%;
    background-color: black;
    text-align: left;
    color: aqua;
}


#footerTowel >div,{
    font-size: 1rem;
    text-align: center;
    
}
#footContent{
    background-color: gray;
    height: 20%;
}
#FooterCopyRight{
    background-color: black;
    color: bisque;
    text-align: center;
}
button,.numerosTowel{
    font-size: 4rem;
    background-color: pink;
    width: 100%;
}
.numerosTowel{
    text-align: center;
}
button:hover{
    background-color: #e4b5c0;
}
#timbTowel{
    justify-content: center;
    align-content: center;
}
.sideTowel{
    border: 1px solid red;
}
.divTowel{
    background-color: pink;
}
 table,tr,thead,td{
    
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
    
 }

 
table thead tr th{
    background-color:gray;
    text-align: center;
    
}

ul li{
    list-style-type: none;
}
.blank{
    background-color: white;
    border:none ;
    width: auto;
    text-align: center;
    justify-content: center;
}


.rojo{
    background-color: red;
}

#Botonera{
    background-color: aquamarine;
}

#topRow{
    text-align: center;
    justify-content: center;
    background-color: pink;
}
/* Si el boton todavia no se toco, el valor está, pero la imagen esta hidden*/
.hidden{
background-color: grey;
}

.visible{
    display:flex
}

.notVisible{
    display: none;
}

.aprove{
background-color: green;
}

.pickeable{
    cursor: pointer;
}

.disabled{
    border-color: red;
    display: block;
}
